/* body{
    background-color:#272727;
} */

#hipe{
    background-image: url(../public/bnnr_top.png);
    height: 460px; 
    background-position: right; 
    background-repeat: no-repeat; 
    background-size: cover;
}
#swiper .container {
    background-color:#eeeeee;
}
.swiper-button-next {
    color: black !important;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: black !important;
}

footer {
    background-color: black;

}
.progress-bar {
    background-color: #000000;
}
.progress {
    display: flex;
    height: 2px;
}
.h1.h2 p  {
    font-family: 'Oswald';font-size: 22px;
}
h2.h1.fs-1.fw-bolder.mb-2 {
    color: black;
}
    
p {
    margin-top: 15px;
    margin-bottom: 2rem;
    font-size: 13px;
}
#hipe{
    background-image: url(../public/bnnr_top.png);
    height: 597px; 
    background-position: right; 
    background-repeat: no-repeat; 
    background-size: cover;
}
#habilidades{
    background-color: #FFFFFF;
}
a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }
.btn-primary-m{
    padding: .375rem 2.75rem;
    background-color: black;
    color: white;
}
div#navbarNavDropdown {
    justify-content: flex-end;
}

nav.navbar.navbar-expand-md.navbar-transparent.position-absolute.w-100 {
    z-index: 9999;
}

nav.navbar.fixed-bottom.d-flex.d-block.d-sm-none{
    background-color: rgb(0 0 0 / 45%)!important;
}

#habilidades .col.mt-2.mb-2 {
    display: flex;
    align-content: center;
    justify-content: center;
}

footer {
    background-color: black;

}
img.img-fluid.log-m {
    width: 80px;
}
.log {
    width: 180px;
}
img.img-fluid.log-a {
    width: 20px;
}

a.nav-link.text-white.btn-m {
    background-color: white;
    color: black !important;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.text-muted{
    color: #52595f !important;
}

@media (max-width: 425px) {
    #hipe{
        background-image: url(../public/bnnr_mobile.png);
        height: 100vh; 
        background-position: right; 
        background-repeat: no-repeat; 
        background-size: cover;
    }
}
@media (max-width: 768px){
    

}
@media (min-width: 1024px){
    .tit{
        font-size: 76px !important;
}
    }


